.section-14-card-container {
  align-items: center;
  border-radius: 0px;
  border: 0.819px solid color(display-p3 0.1765 0.1765 0.1765);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  text-align: left;
  padding: 40px 15px 40px 15px;
}

.section-14-card-container>div>div {
  display: flex;
}

.section-14-card-container h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 1.125em;
  margin-bottom: 20px;
}

.section-14-card-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1em;
}