#section-10-container {
  align-items: center;
  background: #030313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

#section-11-container::after {
  content: "";
  position: absolute;
  top: 60%;
  left: inherit;
  right: calc(50% - 400px);
  width: 10000px;
  height: 300px;
  background: #937cff;
  border-radius: 100%;
  opacity: 0;
  filter: blur(150px);

  mix-blend-mode: screen;
  animation: luz 5s 2s infinite;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
}

#section-11-container-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0px;
  width: 100%;
}

#section-11-container-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
}

#section-11-container-content h2 {
  font-size: 30px;
  font-family: var(--font-darker-grotesque);
  font-weight: 600;
  line-height: 0.8em;
}

#section-11-container-content>div {
  border: 1px solid;
  border-image: linear-gradient(90deg, #7c3aed, rgba(60, 74, 83, 0)) 1;
  border-right: none;
  padding: 20px 0px 0px 40px;
  text-align: left;
}

#section-11-container-content h2:nth-of-type(2) {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1em;
  font-family: var(--font-saira);
  margin-top: 20px;
}